html,
body,
#map-canvas {
    height: 100%;
    margin: 0;
    padding: 0;
}

#page-content-wrapper {
    height: 800px;
    margin: 0;
    padding: 0;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.nav-list-vivid {
    background-color: #edeff1;
    border-radius: 6px;
    padding-bottom: 2px;
}

.nav-list {
    padding-left: 13px;
    padding-right: 13px;
}

.nav-list .nav-header {
    margin-left: -13px;
    margin-right: -13px;
    padding: 0 13px;
    text-shadow: none;
}

.nav-list-vivid .nav-header:first-child {
    padding-top: 10px;
}

.nav-list > li > a {
    border-radius: 5px;
    font-size: 14.994px;
    font-weight: 700;
    margin-left: -13px;
    margin-right: -13px;
    padding: 6px 13px 8px;
    text-shadow: none;
}

.nav-list-vivid > li > a {
    border-radius: 0;
    color: #526476;
    font-size: 14px;
}

.nav-header {
    color: #aeb6bf;
    font-size: 12.992px;
    text-transform: uppercase;
}

.nav-list-vivid > li.active > a, .nav-list-vivid > li.active > a:hover, .nav-list-vivid > li.active > a:focus {
    background-color: #1abc9c;
    color: #ffffff;
    text-shadow: none;
}

.searchbar-body {
    border: 2px solid transparent;
    border-radius: 7px;
    overflow: hidden;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
    transition-delay: .15s;
}

.searchbar-body .form-control,
.searchbar-body .input-group-btn .btn {
    border: none;
    border-radius: 0;
}

.searchbar-body .input-group-btn .btn:hover {
    color: #1abc9c;
    border-color: #1abc9c;
}

.searchbar-body.active {
    color: #1abc9c;
    border-color: #1abc9c;
}

/* main */
body {
    overflow: hidden;
}
#wrapper {
    margin-top: -53px;
    height: 100%;
    padding-top: 53px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar-brand {
    /*font-family: 'Raleway Dots', cursive;*/
    /*font-family: 'Just Another Hand', cursive;*/
    /*font-family: 'Delius Swash Caps', cursive;*/
    font-family: 'Raleway Dots', cursive;
}

.navbar-embossed > .navbar-collapse {
    border-radius: 0!important;
}

#menu-toggle {
    position: fixed;
    top: 65px;
    right: 20px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

#page-content-wrapper {
    height: 100%;
}

#sidebar-wrapper {
    width: 250px;
    padding-top: 53px;
    margin-left: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: none;
    overflow: visible;
}

#sidebar-body {
    overflow: auto;
    height: 100%;
}
#sidebar-body .nav {
    border-radius: 0;
}

#sidebar-body .nav a{
    font-weight: 100;
    border-bottom: 1px solid #ddd;
}

#sidebar-body .nav a:hover{
    background-color: #e2e2e2;
}

#sidebar-body .nav .glyphicon {
    margin-right: 5px;
    font-size: 5px;
}

#sidebar-body .nav a span {
    vertical-align: middle;
}

@media(max-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.in {
        padding-top: 118px;
        margin-top: -118px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper.in {
        padding-top: 118px;
    }

    #menu-toggle {
        min-width: 80px;
        padding-left: 15px;
        padding-right: 15px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    #menu-toggle.in {
        -webkit-transform: translate(0,65px);
        -moz-transform: translate(0,65px);
        transform: translate(0,65px);
    }

    #sidebar-wrapper {
    }

    #wrapper.toggled #sidebar-wrapper {
        left: -250px;
    }

    #page-content-wrapper {
        padding: 0;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}